.logs {
    border: 1px solid #4b4b4b;
    border-left: 0;
    border-right: 0;
    font-size: 14px;
    padding: 3px 0;

    display: flex;

    .log {
        padding: 0 3px;
        color: #ffff;

        &--error {
            color: #ff4d4d !important;
        }

        &--number {
            color: #27ae60;
        }

        &--string {
            color: #f39c12;
            position: relative;
        }

        &--boolean {
            color: #9b59b6;
        }

        &--object {
            color: #c0392b;
        }

        ul {
            list-style: none;
            margin: 10px 0;
            padding-inline-start: 20px;
            // padding: 0;
        }

        code {
            font-family: Consolas, 'courier new';
            // color: crimson;
            background-color: #f1f1f1;
            // padding: 2px;
        }
    }

    & > ul {
        margin: 0;
        padding-inline-start: 0;
        // margin: 10px 0;
    }
}
